.effect-shine {
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: all 1000ms cubic-bezier(0.005, 1.650, 1.000, -0.600);
    transition-timing-function: cubic-bezier(0.005, 1.650, 1.000, -0.600);
}

.effect-shine .show-off
{
    top: -110%;
	left: -210%;
	width: 200%;
	height: 200%;
    opacity: 0;
    position: absolute;
    transition: 2s;

    background: linear-gradient(
		to right, 
		rgba(255, 255, 255, 0.13) 0%,
		rgba(255, 255, 255, 0.13) 77%,
		rgba(255, 255, 255, 0.5) 92%,
		rgba(255, 255, 255, 0.0) 100%
	);
}
.effect-shine:hover .show-off {
    opacity: 1;
	top: -30%;
	left: -30%;
	transition-property: left, top, opacity;
	transition-duration: 1s, 1s, .15s;
	transition-timing-function: ease;

}
/* Zoom In Effect */
.effect-zoom-in {
    overflow: hidden;
    box-sizing: border-box;
    display: block;
}
.effect-zoom-in img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.effect-zoom-in:hover img {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}