@font-face {
    font-family: "Myriad";
    src: url("../fonts/MYRIADPRO-REGULAR.OTF") format("oft"),
        url("../fonts/MYRIADPRO-REGULAR.ttf") format("truetype");
}

@font-face {
    font-family: "Myriad";
    src: url("../fonts/MyriadPro-Bold.otf") format("oft"),
        url("../fonts/MYRIADPRO-BOLD.ttf") format("truetype");
    font-weight: bold;
}

html {
    margin: 0 auto;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif !important;
    height: 100%;
}
#main-scrollbar {
    height: 100%;
}
a,
a:hover {
    text-decoration: none;
}
a:hover {
    color: white;
}
img {
    max-width: 100%;
}
p {
    text-align: justify;
}
dl,
ol,
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header .navbar {
    background: #060934;
}
#wrapper {
    height: 100%;
}
.text-primary {
    color: #b68e52 !important;
}
.text-secondary {
    color: #13224b !important;
}
.text-third {
    color: #0077ca !important;
}
.bg-primary {
    background-color: #b68e52 !important;
}
.bg-secondary {
    background-color: #13224b !important;
}
.bg-third {
    background-color: #0077ca !important;
}
.bg-third:hover {
    background-color: #666 !important;
}
.no-border {
    border: 0px !important;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
#top-bar a {
    font-size: 0.8em;
}

#header-main {
    background: #13224b;
}

#header-main .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 0.9em;
}
.nav-flag img {
    max-width: 20px;
}
.nav-flag .dropdown-menu {
    background: #ffffffa3;
    right: 0;
    left: auto;
    border-radius: 0;
}
.nav-flag .dropdown-menu a {
    color: #13224b;
    font-weight: bold;
}
.nav-account .dropdown-menu {
    background: #ffffff;
    
    right: 0;
    margin: 0 auto;
    border-radius: 0;
    position: absolute;
}
.nav-account>a{
    background: none !important;
}
.nav-account .dropdown-menu a {
    color: #13224b;
    font-weight: bold;
}


.navbar-brand img {
    max-width: 108px;
}
#header-main .navbar-nav a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

#header-main .navbar-nav a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #b5964d;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#header-main .navbar-nav a:hover:before,
#header-main .navbar-nav a:focus:before,
#header-main .navbar-nav a:active:before,
#header-main .navbar-nav li.active a:before {
    left: 0;
    right: 0;
}
#header-main .navbar-nav li:hover .dropdown-menu {
    display: block;
}
#header-main .navbar-nav .dropdown-menu {
    background: #ffffffa3;
    left: 0;
    border-radius: 0;
}
#footer {
    background: #060934;
}
.menu-footer li .nav-link {
    padding: 0.5rem 0.4rem;
    font-size: 1rem;
    color: white;
}
.menu-footer li:hover .nav-link {
    color: #b5964d;
}

.footer-social ul {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.footer-social h4 {
    font-size: 1.2rem;
    color: white;
}
.footer-social li {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}
.footer-social li i {
    color: white;
}
.footer-social li:hover {
    border: 2px solid #b5964d;
}
.footer-social li:hover i {
    color: #b5964d;
}
#footer .company-name {
    font-size: 1.4rem;
    color: #b68e52;
}
.border-right-1 {
    border-right: 1px solid white;
}
.nav-item:hover .nav-link {
    color: #b68e52;
}

.navbar-nav .nav-link {
    color: white;
}
#search-form {
    margin-left: 15px;
}
#search-form .input-group {
    background: white;
    border-radius: 5px;
    height: 32px;
}
#search-form input {
    border: none;

    max-width: 150px;
    height: 32px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search-form button {
    background: none;
    height: 32px;
    line-height: 1rem;
}

#search-form button i {
    color: #13224b;
}
#autocomple-posts {
    position: absolute;
    top: 100%;
    z-index: 999;
    background: white;
    width: 200%;
    right: 0px;
    padding: 10px;
    border-radius: 2px;
}
#autocomple-posts li a {
    color: #b5964d;
}
#autocomple-posts li:hover a {
    color: #0077cc;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
}

.sticky #top-bar {
    display: none;
}

/* Block Banner */

/* #block-banner {
    width: 100%;
    height: 490px;
    background: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -76px;
} */
#block-banner {
    width: 100%;
    text-align: center;
    position: relative;
}
#block-banner > img {
    width: 100%;
}
.block-banner-slide > img {
    width: 100%;
}
#block-banner .text-in-banner {
    max-width: 450px;
    position: absolute;
    top: 20%;
    background: #060934d6;
    padding: 1.2rem;
    left: 10%;
    border: 2px solid white;
    width: 100%;
}

#block-banner .top {
    top: 5%;
    left: 35%;
}

#block-banner .left {
    top: 20%;
    left: 10%;
}

#block-banner .right {
    top: 20%;
    left: 57%;
}

#block-banner .bottom {
    top: 65%;
    left: 57%;
}

#block-banner .center {
    top: 35%;
    left: 35%;
}

#block-banner .text-in-banner p {
    color: white;
}
#block-banner .text-in-banner .btn-banner-link {
    color: white;
}
#text-in-banner h5 {
    font-size: 3.2em;
    color: white;
}

#text-in-banner h6 {
    font-size: 1.9em;
    color: white;
}

/* Block About */
#block-about img {
    max-width: 100%;
}
#block-about > span {
    color: #b68e52;
}
#block-about p {
    font-size: 13px;
}
.title-about span {
    position: relative;
}
.title-about span:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #b68e52;
}
/* Block service */
.block-outer-serivce {
    position: absolute;
    width: 76%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 14%;
}
.block-inner-serivce {
    padding: 5px;
}
.baclground-inner-service {
    padding: 20% 10px;
    background: none;
    text-align: center;
}
.baclground-inner-service h4 {
    color: white;
    text-shadow: -3px -3px 4px rgb(0, 0, 0);
}
#block-service .service-item:hover .block-outer-serivce {
    opacity: 1;
    transition: all 0.3s linear;
    transition-delay: 0s;
}
#block-service .service-item:hover .baclground-inner-service {
    background: #ffffffc2;
    transition: all 0.25s ease-in;
}
#block-service .service-item:hover .baclground-inner-service h4 {
    color: black;
    text-shadow: none;
}
.block-outer-serivce::before,
.block-outer-serivce::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.4s linear;
    background: #fff;
}
.block-inner-serivce::before,
.block-inner-serivce::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.4s linear;
    background: #fff;
}
.block-outer-serivce::before {
    top: 0;
    left: 0;
}
.block-outer-serivce::after {
    bottom: 0;
    right: 0;
}

.block-inner-serivce::before {
    top: 0;
    right: 0;
}
.block-inner-serivce::after {
    bottom: 0;
    left: 0;
}

#block-service .service-item:hover .block-outer-serivce::before,
#block-service .service-item:hover .block-outer-serivce::after {
    width: 100%;
}
#block-service .service-item:hover .block-inner-serivce::before,
#block-service .service-item:hover .block-inner-serivce::after {
    height: 100%;
}
.block-inner-serivce::before,
.block-inner-serivce::after {
    transition-delay: 0s;
}
#block-service .service-item:hover .block-inner-serivce::before,
#block-service .service-item:hover .block-inner-serivce::after {
    transition-delay: 0.4s;
}
/* Block Project */
.project-title {
    font-size: 1.4rem;
    color: #3fa0ec;
    font-weight: bold;
    text-transform: uppercase;
}
.project-title:hover {
    color: #b5964d;
}
.project-location {
    color: #b68e52;
    text-transform: uppercase;
}
/* Block Partner */
#block-partner {
    background: url("../images/bachgroup--thuong-hieu.png");
    height: 500px;
    background-size: cover;
}
#carousel-partner {
    width: 100%;
    max-width: 100%;
}
#carousel-partner .item {
    margin: 0 11px;
}

#list-social i {
    font-size: 2em;
    margin-top: 1rem;
    color: white;
}
#list-social li {
    margin-right: 1.5rem;
}
/* Block Lastest News */

.title-block {
    color: #b68e52;
    position: relative;
    font-weight: 400;
}

.title-block:after {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: -5px;
    background: #b68e52;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#lastest-news {
    margin-top: 70px;
}

#lastest-news .card {
    -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.75);
    margin-bottom: 3rem;
    border-radius: 0px;
}

#lastest-news .card-body {
    padding: 1rem 1.25rem;
}

#lastest-news .card-body .card-title {
    color: #3fa3ef;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

#lastest-news .card-body span {
    color: #b68e52;
    font-size: 0.8em;
}

#lastest-news .card-body span i {
    color: black;
}

#lastest-news .card-body .view-line-date {
    margin: 0 10px;
    color: #b68e52;
    font-size: 0.8em;
}

.btn-readmore {
    display: table;
    background: #b68e52;
    color: white;
    padding: 8px;
    font-size: 0.8em;
    text-decoration: none !important;
}

/* Block Hotel Development */

#hotel-development {
    background: #060934;
    height: 220px;
    margin-bottom: 260px;
    padding-top: 2rem;
}

#hotel-development .card {
    border-radius: 0px;
}

#hotel-development .card-body {
    min-height: 174px;
}

#hotel-development .card-body .card-title {
    font-size: 1.6em;
    line-height: 1.2em;
}

#hotel-development .card-body .card-text {
    color: #b68e52;
    position: relative;
    width: 100px;
    font-size: 0.7em;
}

#hotel-development .card-body .card-text:before {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    top: -5px;
    background: #b68e52;
    left: 0;
}

#commercial img {
    max-width: 100%;
}

#commercial .row {
    margin-right: -10px;
    margin-left: -10px;
}

#commercial [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

.img-com2 {
    margin-top: 20px;
}

.img-com5 {
    margin-top: 22px;
}

.newsletter {
    padding: 30px 25px;
    border: 1px solid #b68e52;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 75%;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px;
}

.newsletter .form-control {
    height: 47px;
    border-color: #b68e52;
    border-radius: 0;
}

.newsletter .form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .btn {
    min-height: 47px;
    border-radius: 0px;
    background: #b68e52;
    color: #fff;
    font-weight: 600;
}

#subcription span {
    color: white;
    font-size: 0.8rem;
}
#subcription p {
    color: white;
}
#subcription h5,
#subcription h4 {
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
}
#subcription .col-4 {
    border-right: 1px solid #b68e52;
}
.has-span-label span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 2px 12px;
    background: white;
    color: white;
}

.has-span-label.img-com3 span {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 170px;
    text-align: center;
}

/* BLOCK EXPERIENCE */

#experience {
    width: 100%;
    height: 439px;
    background: url("../images/backgroup.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.block-item-exp {
    width: 340px;
    border: 1px solid white;
    padding: 5px;
    margin-top: 120px;
}

.block-inner-exp {
    background: #ffffffc2;
    padding: 35px 30px;
}

.block-item-exp-r {
    float: right;
}

.title-item-exp span {
    display: flex;
}

.title-item-exp span:last-child {
    color: #b68e52;
    position: relative;
    margin-bottom: 30px;
}

.title-item-exp span:last-child:after {
    content: "";
    width: 80px;
    height: 1px;
    position: absolute;
    bottom: -15px;
    background: #b68e52;
    left: 0;
}

/* FOOTER */

.info-website img:first-child {
    max-height: 51px;
    margin-right: 20px;
}

.book-call {
    padding: 8px;
}

.book-call span {
    font-size: 0.8rem;
}

.book-call a {
    font-size: 1.2rem;
    color: #b68e52;
    font-weight: bold;
}

.customer-review {
    position: relative;
    padding: 5px;
    padding-left: 40px;
    padding-right: 20px;
    border: 1px solid #b68e52;
}

.customer-review h6 {
    color: #b68e52;
    font-size: 0.9em;
}

.customer-review span {
    font-size: 0.7em;
}

.customer-review label {
    font-weight: bold;
    color: white;
    background: #54534a;
    border-radius: 3px;
    padding: 2px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.5em;
}

#site-map a {
    color: black;
}

#site-map li:hover a,
#site-map h5 {
    color: #b68e52;
}

.site-map-right {
    padding-top: 73px;
}

#contact-website {
    padding-left: 50px;
    padding-top: 12px;
}

#contact-website p {
    margin-bottom: 5px;
    font-size: 0.8em;
}

#contact-website span {
    font-size: 1.2em;
}

#contact-website h6 {
    color: #b68e52;
    font-size: 1.2em;
}

#contact-website a {
    color: #b68e52;
}

.copy-right {
    background: #b68e52;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.copy-right span {
    color: #13224b;
}
/* PAGE GIá»šI THIá»†U */
/* Block about */
#block-about-senhos {
    background: url(../images/bg-gioithieu.jpg);
    height: 520px;
    background-size: cover;
}
.about-content {
    overflow: auto;
    height: 443px;
}
h4.title-about {
    color: #b68e52;
    font-size: 1.8rem;
}
#block-about-senhos span {
    color: #b68e52;
    font-family: "Time New Roman";
    font-size: 1.2rem;
    display: block;
}
#block-about-senhos p {
    font-size: 15px;
    font-weight: bold;
}
.page-about h4.title-about {
    border-bottom: 1px solid;
    display: inline-block;
    padding-bottom: 5px;
}
/* Block trademark */
.item-trademark {
    position: relative;
}
.circle-trademark {
    /* circle styles */
    width: 180px;
    height: 180px;
    border: 2px solid #b68e52;
    border-radius: 50%;

    /* become a flex container */
    /* its children will be flex items */
    display: flex;
    /* place items in column */
    flex-direction: column;
    /* center flex items horizontally */
    align-items: center;
    /* center all content vertically */
    justify-content: center;
    font-size: 1.8rem;

    position: absolute;
    background: #060934;
    color: white;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 205px;
}

/* simulate one more item to "balance" dex text */
.circle:before {
    content: "\A0";
    visibility: hidden;
}
.item-trademark p {
    margin-top: 7em;

    text-align: justify;
    text-align-last: center;
}
/* Block Strong Point */
#slideStrongPoint .carousel-item p {
    padding: 1% 3%;
    background: #ededef;
    color: #b68e52;
    font-weight: bold;
    font-size: 1.4em;
}
#slideStrongPoint .carousel-item img {
    max-height: 400px;
}
#carousel-partner .slick-slide img {
    height: 120px;
}
/* Breadcrum */
#breadcrumb {
    background: #ededef;
}
#breadcrumb nav {
    background: #ededef;
    border-radius: 0;
}
#breadcrumb nav li a {
    color: #b68e52;
}
.arr-right .breadcrumb-item + .breadcrumb-item::before {
    content: "›";

    vertical-align: top;

    color: #b68e52;

    font-size: 35px;

    line-height: 18px;
}
#breadcrumb .breadcrumb-item.active {
    color: black;
}
#breadcrumb .breadcrumb-item.active:hover {
    color: #b68e52;
}
/* Project Page */
.title-page {
    color: #b68e52;
    font-size: 1.8rem;
    width: 100%;
}
/* Service Resort */
.project-item p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 92px;
    margin: 0 auto;

    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2rem;
}
#block-function {
    width: 100%;

    background: url("../images/background/resort-bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block-service .sub-title {
    font-size: 1.3rem;
    padding-bottom: 1.3rem;
}

#block-strategy .block-service-content {
    font-size: 1rem;
    line-height: 1.4rem;
}

#block-management {
    width: 100%;

    background: url("../images/resort/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#block-marketing {
    width: 100%;

    background: url("../images/resort/kinh-doanh.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Spa Service */
#block-invest-spa {
    width: 100%;

    background: url("../images/spa/bg-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#block-paradigm {
    width: 100%;

    background: url("../images/spa/bg-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#block-cosmetics img {
    max-height: 355px;
}
#block-train-educate {
    width: 100%;

    background: url("../images/spa/bg-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#block-develope {
    width: 100%;

    background: url("../images/spa/bg-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Restaurant & Coffee Page */
#block-survey-product {
    width: 100%;

    background: url("../images/coffee/bg-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#block-determine-plan {
    width: 100%;

    background: url("../images/coffee/bg-02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#block-advisory p {
    min-height: 195px;
}
#block-media-organization {
    background: url("../images/coffee/bg-03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#block-manager-restaurant {
    background: url("../images/coffee/bg-04.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Bar -Lounge Service Page */
#block-bar-target {
    background: url("../images/bar/bg-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#block-bar-product {
    background: url("../images/bar/bg-02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#block-bar-consulting {
    background: url("../images/bar/bg-03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#block-bar-executive-monitoring {
    background: url("../images/bar/bg-04.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Human Resource Service Page */
#block-human-policy {
    background: url("../images/human/bg-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#block-human-integration-training {
    background: url("../images/human/bg-02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#block-human-treatment {
    background: url("../images/human/bg-03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Booking Select City */
.item-block-city {
    position: relative;
}
.item-block-city span {
    color: white;
}
.item-block-city .city-name {
    position: absolute;
    left: 40px;
    top: 30px;
    font-size: 1.8rem;
    font-weight: bold;
}
.item-block-city .total-place {
    position: absolute;
    left: 40px;
    top: 65px;
    font-size: 1.3rem;
}
#block-booking-now .bg-booking-now {
    background: url("../images/booking/bg-booking.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0;
}
.button-see-now {
    padding: 0.4rem;
    font-size: 1.6rem;
    background: #fcb902;
    color: #13224b;
    width: 35%;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    font-weight: bold;
}
.place-name {
    line-height: 1.2rem;
    margin-bottom: 0;
    margin-top: 1rem;
}
.place-name a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #666666;
}
.place-name:hover a {
    color: #b68e52;
}
.place-rate {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.place-rate i {
    font-size: 0.5rem;
    margin-right: 0.4rem;
}
.place-price .deal-price {
    color: #b6272d;
    font-weight: bold;
    font-size: 1.2rem;
}

.place-price .regular-price {
    color: #666666;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: line-through;
    text-decoration-color: #b6272d;
}
.btn-place-review:hover {
    color: #b68e52;
}
.bg-type-place {
    background: #13224b;
}
.place-type a {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}
.place-total {
    color: #b68e52;
    font-size: 0.8rem;
}
.icon-box {
    text-align: center;
    padding: 1rem 0;
}
.icon-box span {
    font-size: 1rem;
    color: #13224b;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: block;
}
.icon-box p {
    font-size: 0.7rem;
}
#top-footer {
    background-color: #ededef;
}
#top-footer-2 {
    background-color: #b68e52;
}
#top-footer-2 .btn-subcribe {
    background: #13224b;

    color: white;
    font-weight: bold;
    border-radius: 0;
}
#top-footer-2 h5 {
    color: white;
}
/* LIST PLACE PAGE */
.accordion .card-header:after {
    font-family: "Font Awesome 5 Pro";
    content: "\f068";
    float: right;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}
#list-place-sidebar h3 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
}
#list-place-sidebar h6 {
    font-size: 1.4rem;
}
#list-place-sidebar .card-header {
    background-color: white;
}
#list-place-sidebar .card-header h6 {
    display: inline-flex;
}
#list-place-sidebar .time-booking {
    font-size: 0.8rem;
    color: #666;
}
.panel-map {
    border: 1px solid #13224b;
    position: relative;
}
.panel-map .big-map {
    font-size: 1.2rem;
    color: black;
    text-transform: uppercase;
    background: #93baf19c;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    bottom: 0;
    text-align: center;
}
.rating-select span {
    margin-right: 8px;
}
.rating-select span i {
    color: #666666;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #b5964d;
}

.title-search-place {
    font-size: 2rem;
    color: #b68e52;
    font-weight: bold;
}
.item-list-place h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #13224b;
}
.item-list-place span,
.item-list-place p {
    font-size: 0.9rem;
}
.item-list-place .info-place span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.item-list-place .thumbnail-place {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23.5%;
    flex: 0 0 23.5%;
    max-width: 23.5%;
}

.item-list-place .info-place {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
    padding: 0 1rem;
}
.item-list-place .price-place {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 21.5%;
    flex: 0 0 21.5%;
    max-width: 21.5%;
}
.item-list-place .info-place p {
    margin-bottom: 0.5rem;
    text-align: justify;
    display: -webkit-box;
    max-width: 100%;
    max-height: 86px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-convenient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0;
}
.list-convenient li {
    width: 26px;
    height: 26px;
    border: 1px solid #e97e10;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.list-convenient i {
    color: #e97e10;
    font-size: 0.6rem;
    text-align: center;
}

.price-place {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
.price-place .regular-price {
    font-size: 1.2rem;
    color: #666666;
    text-decoration: line-through;
    text-decoration-color: #b6272d;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.price-place .deal-price {
    font-size: 1.2rem;
    color: #13224b;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.price-place .status-place {
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
}
.bui-review-score__badge {
    background: #e7eef8;
    color: #13224b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    vertical-align: baseline;
    border-radius: 6px 6px 6px 6px;
    height: 32px;
    width: 32px;
    min-width: 32px;
    position: absolute;
    top: 0;
    right: 0;
}
.bui-review-score__badge:hover {
    background: #b5964d;
    color: white;
}
/* Pagination */
/* GENERAL STYLES */
.pagination-around {
    background-color: white;
}
.pagination {
}

.pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination a {
    display: inline-block;
    padding: 8px 14px;
    color: #222;
}

/* ONE */

.pagination.p1 a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    text-align: center;
    border: solid 1px #dbdbdb;
}

.pagination.p1 a.is-active {
    background-color: #b68e52;
    border: 1px solid #b68e52;
    color: white;
}
.pagination.p1 a:hover {
    background-color: #b68e52;
    border: 1px solid #b68e52;
    color: white;
}
.pagination.p1 a li {
    line-height: 36px;
}
.pagination-around .result-count {
    display: flex !important;
    flex-direction: column;

    justify-content: center;
    text-align: right;
}

/* Page Contact */
.map-contact,
.pic-contact {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
.address-contact,
.form-contact {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-content: flex-end;
}
.panel-address {
    width: 100%;
    padding: 1.4rem;
    -webkit-box-shadow: 0px 0px 8px -3px rgba(181, 150, 77, 1);
    -moz-box-shadow: 0px 0px 8px -3px rgba(181, 150, 77, 1);
    box-shadow: 0px 0px 8px -3px rgba(181, 150, 77, 1);
    cursor: pointer;
}

.panel-address.active {
    background: #b5964d;
    padding: 1.4rem;
}

.panel-address .panel-title {
    font-size: 1.6rem;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    display: table;
    font-weight: bold;
    margin-bottom: 1rem;
}
.panel-address span {
    display: block;
    margin-top: 0.2rem;
    font-size: 0.8rem;
}
.panel-address span i {
    margin-right: 5px;
}
.form-contact form {
    width: 100%;
}
.form-contact .form-group {
    margin-bottom: 2px;
}
.form-contact input,
.form-contact textarea {
    border: 1px solid #b5964d;
    border-radius: 0;
}
.form-contact .send-contact {
    background-color: #b5964d;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.6rem;
    color: black;
    border: none;
    padding: 0.4rem 2rem;
    line-height: 2rem;
    margin: 0 auto;
    display: flex;
    justify-self: center;
    margin-top: 1rem;
}
.form-contact-title {
    font-size: 1.6rem;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    display: table;
    font-weight: bold;
    margin-bottom: 1rem;
}
/* List News Page */
.widget {
    width: 100%;
    display: block;
}
.widget .widget-title {
    font-size: 1.4rem;
    color: #666;
    font-weight: bold;
    margin-bottom: 1rem;
}
.item-news {
    width: 100%;
    display: flex;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(102, 102, 102, 0.69);
    -moz-box-shadow: 0px 0px 2px 0px rgba(102, 102, 102, 0.69);
    box-shadow: 0px 0px 2px 0px rgba(102, 102, 102, 0.69);
    margin-bottom: 0.8rem;
}
.item-news .thumbnail-news {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.item-news .info-news {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0.2rem 0.5rem;
}
.item-news .info-news h4 {
    font-size: 1rem;
    color: #3fa0ec;
}
.item-news:hover h4 {
    color: #b5964d;
}
.item-news .info-news span {
    font-size: 0.7rem;
    display: block;
}
.lastest-videos .row {
    margin-right: -10px;
    margin-left: -10px;
}

.lastest-videos .col-xl-6 {
    padding-right: 10px;
    padding-left: 10px;
}
.lastest-videos .item-video {
    margin-bottom: 1.4rem;
    position: relative;
}
.lastest-videos .item-video img {
    width: 100%;
}
.lastest-videos .item-video:after {
    content: "";
    background-image: url(../images/icons/icon-play.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 30px);
    transition: transform 0.2s; /* Animation */
    margin: 0 auto;
}
.lastest-videos .item-video:hover:after {
    transform: scale(1.5);
}
.lastest-videos .item-video img {
    padding: 20px 0;
    background: black;
    border-radius: 8px;
}
.lastest-videos .item-video span {
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 1rem;
    display: block;
    color: black;
}
.lastest-videos .item-video:hover span {
    color: #b5964d;
}

.item-top-deal {
    width: 100%;
    display: block;
    border: 1px solid #060934;
    margin-bottom: 5px;
}

.thumbnail-top-deal {
    position: relative;
    width: 100%;
    display: block;
}
.thumbnail-top-deal span {
    position: absolute;
    padding: 10px 20px;
    font-size: 1.4rem;
    background-color: #febb02;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0;
    top: 20px;
    color: #060934;
}

.info-top-deal {
    padding: 1rem 1.2rem;
}
.info-top-deal h5 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #060934;
}
.info-top-deal span {
    display: block;
    color: #060934;
}
.price-top-deal {
    border-top: 1px solid #060934;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
}
.price-top-deal .regular-price {
    text-decoration: line-through;
    text-decoration-color: #b6272d;
}
.price-top-deal .sale-price {
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}
.btn-around {
    position: absolute;
    padding: 3px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(102, 102, 102, 0.69);
    -moz-box-shadow: 0px 0px 2px 0px rgba(102, 102, 102, 0.69);
    box-shadow: 0px 0px 2px 0px rgba(102, 102, 102, 0.69);
    right: 0;
    top: 15px;
    display: flex;
    align-self: center;
}
.btn-around .top-sale-booking {
    color: white;
    font-weight: bold;
    padding: 0.3rem 1rem;
    background-color: #0077cc;
}
.btn-around:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 119, 204, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 119, 204, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 119, 204, 1);
}
.btn-around:hover .top-sale-booking {
    background-color: white;
    color: #b5964d;
}

article.item-post {
    border: 1px solid #060934;
    margin: 0 -5px;
    margin-bottom: 1.4rem;
}
.thumbnail-post {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
}
.list-view .thumbnail-post img {
    max-height: 239px;
    height: 100%;
}
.info-post {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 52%;
    flex: 0 0 52%;
    max-width: 52%;
    padding: 1.2rem;
    padding-bottom: 0;
}

.info-post h3 {
    font-size: 1.4rem;
    color: #3fa0ec;
    text-align: justify;
    display: -webkit-box;
    max-width: 100%;
    max-height: 54px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-post:hover h3 {
    color: #b5964d;
}
.info-post .timeline-post {
    background: #eee;
    padding: 2px 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.info-post .timeline-post span {
    font-size: 0.8rem;
    color: #666;
}
.info-post .timeline-post span:nth-child(2) {
    position: relative;
    padding: 0 1rem;
}
.info-post .timeline-post span:nth-child(2):before {
    content: "|";
    color: #666;
    position: absolute;
    left: -18px;
}
.info-post .timeline-post span:nth-child(2):after {
    content: "|";
    color: #666;
    position: absolute;
    right: -18px;
}
.info-post p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    text-align: justify;
    display: -webkit-box;
    max-width: 100%;
    max-height: 86px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-post .btn-post-more {
    color: white;
    background-color: #b68e52;
    font-size: 1.2rem;
    font-style: italic;
    padding: 2px 1.6rem;
    border-radius: 20px;
    display: flex;
    float: right;
}
.info-post .btn-post-more:hover {
    background-color: white;
    color: #b68e52;
    border: 1px solid #b68e52;
}
/* Grid View */
.grid-view article.item-post {
    border: none;
    margin: 0;
    margin-bottom: 1rem;
}
.grid-view .thumbnail-post {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.grid-view .info-post {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    padding-top: 1rem;
}

/* Post Content Page */
.post-content * {
    max-width: 100%;
    height: auto;
}
.post-content iframe {
    min-height: 400px;
}
.post-content figure {
    margin: 0 auto;
    text-align: center;
}
.post-content figcaption {
    font-style: italic;
    color: #868686;
    margin-bottom: 10px;
}
.post-content img:not(.alignleft):not(.alignright) {
    margin-right: 15px;
}
.post-content img:not(:last-child),
.post-content p:not(:last-child),
.post-content table:not(:last-child) {
    margin-bottom: 15px;
}
.post-content img {
    position: relative;
    z-index: 100;
}
.post-content a:hover {
    color: #b5964d;
}
.single-post .post-meta {
    background: #eee;
    padding: 2px 10px;
    display: block;
    margin-bottom: 0.5rem;
}
.single-post .post-meta span {
    font-size: 0.8rem;
    color: #666;
}
.post-header .post-title {
    color: #3fa0ec;
    font-size: 1.6rem;
    font-weight: bold;
}
.post-content h2 {
    font-size: 1.4rem;
}
.post-content h3 {
    font-size: 1.2rem;
}
.item-related-post h4 {
    color: #13224b;
    font-size: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.2rem;
}
.item-related-post:hover h4 {
    color: #b5964d;
}
.related-post-time {
    color: #3fa0ec;
    font-size: 0.8rem;
    font-style: italic;
    display: block;
}
.header-related-block {
    position: relative;
    display: block;
    margin-bottom: 0.8rem;
}
.header-related-block span {
    background: white;
    font-size: 1.6rem;
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 10;
    border: 1px solid white;
    padding-right: 4px;
}
.header-related-block span:after {
    content: "";
    background: black;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 7px;
    position: absolute;
    z-index: -1;
}

.post-2-col .item-related-post {
    box-shadow: none;
}
.post-2-col .item-related-post h4 {
    margin-top: 0;
}
.post-2-col .item-related-post .thumbnail-news {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}
.post-2-col .item-related-post .item-news .info-news {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
.item-related-post p {
    font-size: 0.8rem;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 28px;
    margin: 8px auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Hotel Detail page */
.host-menu .navbar {
    padding: 0;
}
#host-menu-ul {
    flex-grow: inherit;
    width: 100%;
    background-color: #e7eef8;
    border-bottom: 2px solid #3fa3ef;
}
#host-menu-ul li a {
    color: #3fa3ef;
}
.header-line-host {
    display: flex;
    margin-top: 2rem;
}
.header-line-host .badge-host {
    padding: 0 0.5rem;
    color: #666;
    background-color: #eee;
    border-radius: 5px;
    font-size: 1rem;
    height: 28px;
    line-height: 28px;
}
.header-line-host .host-name {
    font-size: 26px;
    color: #666;
    font-weight: bold;
    margin: 0 8px;
}
.host-star i {
    padding: 5px 0;
    color: #febb02;
}
.address-line-host {
    display: flex;
    width: 100%;
    margin-top: 10px;
}
.address-line-host i {
    color: #3fa3ef;
}
.address-line-host span {
    margin-right: 10px;
}
.address-line-host .show-map {
    margin-left: 10px;
}
.address-line-host .show-map:hover {
    color: #13224b;
}

.slider {
    margin-bottom: 10px;
}
.slick-slide {
    outline: none;
}
.slider-nav .slick-slide img {
    cursor: pointer;
}

.slider-nav {
    overflow: hidden;
}
.slider-nav .slick-list {
    margin-right: -10px;
    margin-left: -10px;
}
.slider-nav .slick-slide {
    padding-right: 5px;
    padding-left: 5px;
}
.good-review {
    background-color: #e7eef8;
}
.good-review .img-box {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 0.7rem;
}
.good-review .img-box i {
    position: absolute;
    left: 0;
    top: 4px;
    color: white;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color: #13224b;
}
.good-review .img-box span {
    display: block;
}
.good-review .img-box span:nth-child(1) {
    color: #13224b;
    font-weight: bold;
    font-size: 0.9rem;
}

.good-review .img-box span:nth-child(2) {
    font-size: 0.8rem;
}
.good-review .img-box-2 {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 0.7rem;
}
.good-review .img-box-2 i {
    position: absolute;
    left: 0;
    top: 0px;
    color: #13224b;
}
.good-review .img-box-2 p {
    border-radius: 5px;

    font-size: 0.8rem;
}
.good-review .img-box-2 .wifi-box-text {
    background-color: #0077ca;
    color: white;
    padding: 0.5rem;
}
.good-review .btn-booking-now {
    background-color: #0077ca;
    color: white;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
}
.item-room {
    cursor: pointer;
    border: 1px solid #0077ca;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0.8rem;
}
.item-room:hover {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 119, 202, 1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 119, 202, 1);
    box-shadow: 0px 0px 9px 0px rgba(0, 119, 202, 1);
}
.item-room h4 {
    color: #3fa0ec;
    font-size: 1rem;
    font-weight: bold;
}
.item-room p {
    color: #3fa0ec;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.item-room .btn-booking-now {
    background-color: #0077ca;
    color: white;
    padding: 0.2rem 1.8rem;
}
.item-room .thumbnail-room {
    flex: 0 0 21%;
}
.booking-room-div {
    flex: 0 0 36.6666%;
    max-width: 36.6666%;
}
.item-room .rating {
    width: 100%;
    display: block;
}
.item-room .rating {
    font-size: 0.8rem;
    position: relative;
    padding-right: 40px;
}

.item-room .info-room span {
    display: block;
    margin-bottom: 2px;
    font-size: 0.8rem;
}
.item-room span.room-price {
    font-size: 1rem;
    color: red;
    font-weight: bold;
}

.item-room .info-room span.info-more {
    color: #fcb902;
}
.item-room .thumbnail-room img {
    height: 100%;
    max-height: 125px;
}
.rating-bagde {
    font-size: 1rem;
    color: white;
    background-color: #0077ca;
    font-weight: bold;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    right: 0;
    top: 2px;
    padding: 5px;
    border-radius: 5px;
}
.policy-header,
.convenient-header {
    font-size: 1.2rem;
    color: black;
    border-bottom: 1px solid black;
}
/* Review Block*/
.btn-grey {
    background-color: #d8d8d8;
    color: #fff;
}
.rating-block {
    text-align: center;
}
.bold {
    font-weight: 700;
}
.padding-bottom-7 {
    padding-bottom: 7px;
}

.review-block {
    background-color: #fafafa;
    border: 1px solid #efefef;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}
.review-block-name {
    font-size: 12px;
    margin: 10px 0;
}
.review-block-date {
    font-size: 12px;
}
.review-block-rate {
    font-size: 13px;
    margin-bottom: 15px;
}
.review-block-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.review-block-description {
    font-size: 13px;
}
.btn-review-now {
    width: 180px;
    background-color: #fcb902;
    color: white;
    padding: 5px 8px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.rating-block .circle-score {
    width: 80px;
    height: 80px;
    display: flex;
    background-color: #0077ca;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.4rem;
    color: white;
    flex-direction: column;

    justify-self: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}
.rating-block .pull-left {
    margin-bottom: 1rem;
}
.host-panel-note p {
    color: #0077ca;
    background: #e7eef8;
    padding: 1rem;
    font-size: 1rem;
    font-size: bold;
    margin-top: 1rem;
}
.host-panel-note p span {
    color: red;
}
.widget.bookking-now span.checkbox-text {
    width: 100%;
    margin: 10px 0;
    font-style: italic;
    color: #0077ca;
    text-align: center;
    display: block;
}
.booking-now-around {
    width: 100%;
    padding: 2rem;
    background-color: #e7eef8;
}
.booking-now-around a {
    border-radius: 0;
    width: 80%;
    margin: 0 auto;
    display: block;
    border: 1px solid #dedede;
    background-color: white;
    padding: 3px;
}
.booking-now-around a span {
    background-color: #0077ca;
    width: 100%;
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 0;
}

/* Booking Form */
.banner-booking {
    position: relative;
}
#booking-form {
    width: 75%;

    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(92, 92, 92, 1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(92, 92, 92, 1);
    box-shadow: 0px 0px 12px 0px rgba(92, 92, 92, 1);
    padding: 10px;
    position: absolute;
    bottom: 10%;
    background-color: white;
    left: 0;
    right: 0;
    max-width: 1140px;
}
#booking-form
    .select2-container--bootstrap4.select2-container--focus
    .select2-selection,
#booking-form .select2-container--bootstrap4 .select2-selection {
    border: none !important;
    box-shadow: none !important;
}
#booking-form .select2-selection__arrow {
    display: none;
}
#booking-form input,
#booking-form .input-group {
    border: none;
    box-shadow: none;
}

#booking-form i.fa {
    position: absolute;
    top: 6px;
    left: 20px;
    color: blue;
    font-size: 22px;
    z-index: 9999;
}
.booking-form .input-group i {
    color: #868686;
}
.search-hotel {
    width: 100%;
    border-radius: 40px;
    background-color: #e97e10;
    color: white;
}
/* Fix About */
.content-about {
    height: 272px;
    overflow: auto;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
/* Room gallery Modal */
.gallery-modal {
    display: none;
}
.fancybox-wrap .gallery-modal {
    position: relative;
    top: auto;
}
.gallery-modal p {
    margin: 0 0 9px;
    padding: 0;
}
.gallery-modal .room-info .details {
    display: inline-block;
    background-color: #fff;
    max-width: 360px;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.gallery-modal .room-info .details__header_shadowed {
    box-shadow: 0 3px 2px rgba(86, 86, 86, 0.15);
}
.gallery-modal .room-info .details__header {
    padding: 20px;
}
.gallery-modal .room-info .details__header-text {
    display: inline-block;
    margin: 0 0 6px;
    max-width: 220px;
    padding-right: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
}
.gallery-modal .room-info .details__header__price-header {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 4px;
    color: grey;
}
.gallery-modal .room-info .details__header__price-display {
    font-size: 24px;
    font-weight: 600;
    color: #e12d2d;
}
.gallery-modal .room-info .details__header__price-currency-after {
    line-height: 1;
    margin-left: 4px;
    font-size: 16px;
    color: #e12d2d;
}

.gallery-modal .room-info .details__info-area {
    height: calc(100% - 130px);
    overflow-x: hidden;
    overflow-y: auto;
}
.gallery-modal .room-info .details__info-area-block {
    padding: 0 20px 20px;
    float: left;
    width: 100%;
}
.gallery-modal .room-info .details__info-area-block_padding-top {
    padding-top: 20px;
}
.gallery-modal .room-info .details__info-area-block-header {
    font-size: 14px;
    font-weight: 700;
}
.gallery-modal .room-info .details__info-area-block-list {
    list-style-type: none;
    margin-bottom: 0;
    color: #4e4e4e;
    display: contents;
}
.gallery-modal .room-info .details__amenities-item,
.gallery-modal .room-info .details__features-item {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}
.gallery-modal .room-info .details__amenities-item-icon,
.gallery-modal .room-info .details__features-item-icon {
    float: left;
    margin: 0;
}
.gallery-modal .room-info .details__amenities-item-description,
.gallery-modal .room-info .details__features-item-description {
    display: block;
    padding: 0 3px 0 33px;
    overflow-wrap: break-word;
    line-height: 18px;
    font-size: 13px;
}
.gallery-modal .room-info .details__amenities-item .fa-wifi,
.gallery-modal .room-info .details__amenities-item .fa-wifi + span,
.gallery-modal .room-info .details__features-item .fa-wifi,
.gallery-modal .room-info .details__features-item .fa-wifi + span {
    color: #32a923;
}
.gallery-modal .room-info .details__bed-layout-item {
    display: inline-block;
    min-width: 49%;
    margin-top: 15px;
    margin-bottom: 5px;
}
.gallery-modal .room-info .details__bed-layout-icon {
    margin-right: 4px;
}
.gallery-modal .room-info .details__bed-layout-text-block {
    line-height: 18px;
    font-size: 13px;
}
.gallery-modal .room-info .details__info-area-block_prelined {
    overflow: hidden;
    border-top: 1px solid;
}
.gallery-modal .room-info .details__info-area-block_prelined,
.gallery-modal .room-info .details__info-area-block_underlined {
    border-color: #ebebeb;
}
.gallery-modal .room-info .gallery {
    display: inline-block;
    width: calc(100% - 360px);
    max-width: calc(100% - 360px);
    -ms-flex: 0 0 calc(100% - 360px);
    flex: 0 0 calc(100% - 360px);
    margin-left: 358px;
    margin-top: 0;
    height: calc(100% - 44px);
    background: rgba(0, 0, 0, 0.9);
    overflow: hidden;
}
.room-gallery-slider,
.room-gallery-slider-nav {
    padding: 1rem;
}
.gallery .slick-slide {
    text-align: center;
}
.gallery .slick-slide img {
    width: auto;
    max-height: 548px;
    text-align: center;
    margin: 0 auto;
    height: 100%;
}
.room-gallery-slider-nav .slick-slide {
    height: 60px;
    overflow: hidden;
    margin: 4px;
}
.room-gallery-slider-nav .slick-slide.slick-current {
    border: 2px solid white;
}
.room-gallery-slider-nav .slick-slide img {
    width: 100%;
    height: 100%;
}
.room-gallery-slider .slick-prev {
    left: 40px;
    z-index: 999999;
}
.room-gallery-slider .slick-next {
    right: 40px;
    z-index: 999999;
}
/* Page Comfirm Booking */
.page-comfirm-booking {
    background: #e6eaed;
}

.page-comfirm-booking .guest-info .info-contact {
    background-color: white;
}
.page-comfirm-booking .guest-info h4 {
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 1em;
}

.page-comfirm-booking .guest-info h5 {
    font-size: 1.6rem;
    font-weight: normal;
    margin: 1rem 0;
}
.page-comfirm-booking .guest-info .info-contact {
    padding: 1.5rem 2rem;
    border-left: 2px solid #0077ca;
    margin-bottom: 1em;
    width: 100%;
    -webkit-box-shadow: 0 1px 3px 0 rgba(27, 27, 27, 0.1);
    box-shadow: 0 1px 3px 0 rgba(27, 27, 27, 0.1);
}
.page-comfirm-booking .guest-info .info-contact label {
    font-weight: bold;
}
.page-comfirm-booking .guest-info .info-contact small {
    color: #bbbaba !important;
}
.page-comfirm-booking .guest-info .info-contact .host-name {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
}
.page-comfirm-booking .guest-info .info-contact span {
    font-size: 1.2em;
}
.page-comfirm-booking .guest-info .info-contact .table-price-right {
    /* font-weight: bold; */
    text-align: right;
}
.page-comfirm-booking .guest-info .info-contact.total-price {
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
    background-color: #fafafa;
}
.page-comfirm-booking .info-room {
    margin-top: 110px;
}
.page-comfirm-booking .info-room .panel {
    background-color: white;
    border-radius: 5px;
    padding: 1em 1.2em;
}
.page-comfirm-booking .info-room .panel table {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    padding-top: 30px;
    border-top: 1px dashed rgba(0, 0, 0, 0.12);
}

.page-comfirm-booking .info-room .panel table tr td {
    font-size: 13px;
    padding: 5px;
}
.page-comfirm-booking .info-room .panel table tr td:nth-child(2) {
    text-align: right;
}
/* Login Page */
.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #dfdfdf;
}
.page-login .nav-tabs li a {
    padding: 10px;
    border-radius: 10;
    color: #b5964d;
    display: flex;
}
.page-login .nav-tabs li a.active {
    background: #0077ca;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.page-login .login-form {
    border-right: 1px dotted #c2c2c2;
    padding-right: 30px;
}
.page-login .login-social {
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 25px;
    font-size: 1.2rem;
    margin: 10px 0;
}
.page-login .login-social i {
    margin-right: 10px;
}

/* jPopup */
.jPopup {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 17%;
    text-align: center;
    width: 60%;
    max-width: 800px;
    display: none;
    border: 4px solid #b68e52;
    z-index: 9999;
}
.jPopup .popup-relative {
    position: relative;
}
.jPopup img {
    width: 100%;
}
.jPopup span.close {
    position: absolute;
    right: -10px;
    top: -10px;
    color: white;
    opacity: 1;
}
.jPopup span.close i {
    font-size: 30px;
}
/* Video intro */
#opVid {
    display: none;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#opVid .video {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#opVid .video video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#video_background {
    max-width: 100%;
    width: 100%;

}
#opVid .buttons {
    position: fixed;
    width: 100%;
    bottom: 70px;
    text-align: center;
    z-index: 100;
}
#opVid .buttons a {
    border: #b68e52 1px solid;
    border-radius: 3px;
    text-transform: uppercase;
    color: #b68e52;
    text-decoration: none;
    padding: 10px 20px;
    -webkit-transition: all ease 0.38s;
    -moz-transition: all ease 0.38s;
    -o-transition: all ease 0.38s;
    -ms-transition: all ease 0.38s;
    transition: all ease 0.38s;
}
/* Accounts Page */
.page-account {
    background-color: #e6eaed !important;
}

#sidebar-wrapper {
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group-item {
    border: none;
}

#sidebar-wrapper .list-group-item {
    font-size: 1.2rem;
    color: #696969;
}

#sidebar-wrapper .list-group-item i {
    color: #0077ca;
    font-weight: bold;
    margin-right: 10px;
}

#sidebar-wrapper .list-group-item.active,
#sidebar-wrapper .list-group-item:hover {
    background: #0077ca;
    color: white;
}

#sidebar-wrapper .list-group-item.active i,
#sidebar-wrapper .list-group-item:hover i {
    color: white;
}

.right-account-content {
    height: 100%;
    border-left: 1px solid #ddd;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #b68e52;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}

/* Map Popup */
#map .gm-style-iw {
    width: auto !important;
    height: auto !important;
    left: 0 !important;
    font-size: 15px !important;
    font-weight: normal !important;
    top: 0 !important;
    overflow: hidden !important;
    border-radius: 3px;
}
#map .gm-style .gm-style-iw-c {
    padding: 0 !important;
    border-radius: 0px !important;
}
#map .gm-style .gm-style-iw-d {
    overflow: auto !important;
}
#map .gm-style .gm-style-iw-c button {
    display: none !important;
}
.HotelMap-leaflet .HotelMap-popup {
    width: 100%;
    overflow: hidden;
}

.HotelMap-leaflet .HotelMap-popup-blockImage {
    width: 66px;
    height: 66px;
    margin: 0;
    padding: 0;
}
.HotelMap-leaflet .HotelMap-popup-imgCover {
    width: 66px;
    height: 66px;
    overflow: hidden;
}

.HotelMap-leaflet .HotelMap-popup-img {
    height: 66px;
}

.HotelMap-leaflet .HotelMap-popup-blockContent {
    height: 66px;
    margin: 0;
    padding: 0;
}
.HotelMap-leaflet .HotelMap-popup-content {
    padding: 10px;
}
.HotelMap-leaflet .HotelMap-popup-title {
    font-weight: 700;
    white-space: nowrap;
}
.HotelMap-review {
    white-space: nowrap;
}

.HotelMap-review * {
    margin-right: 4px;
}
/* Categories Tab News */
.categories_tabs {
    border-bottom: 1px solid #666666a3;
}

.categories_tabs li a {
    padding: 10px 1em;
    color: #666666a3;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.categories_tabs li:hover a, .categories_tabs li.active a {
    color: #b5964d;
}
.categories_tabs li a:after {
    content: "";
    height: 2px;
    background: #b5964d;
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 51%;
    right: 51%;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.categories_tabs li:hover a:after, .categories_tabs li.active a:after {
    left: 0;
    right: 0;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
