@media (max-width: 576px) {
    /* #block-partner {
        display: none;
    } */
    footer {
        font-size: 14px;
    }
    p {
        text-align: justify;
    }
    section {
        height: auto;
    }
    #footer .company-name {
        margin: 1rem 0;
    }
    .footer-social {
        margin: 1rem 0;
    }
    .breadcrumb {
        padding: 0.25rem 0.5rem;
    }
    .breadcrumb li {
        font-size: 13px;
    }
    .arr-right .breadcrumb-item + .breadcrumb-item::before {
        content: "›";
        vertical-align: top;
        color: #b68e52;
        font-size: 20px;
        line-height: 16px;
    }
    #top-bar #top-bar-left{
        display: none;
    }
    .nav-flag .dropdown-menu {
        position: absolute;
    }
    .nav-flag .show .dropdown-menu {
        display: block;
    }
    #search-form {
        display: none;
    }
    #top-bar-right {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    h4.title-about {
        text-align: center;
        margin: 1rem 0;
        font-size: 1.2rem;
    }
    .title-block {
        font-size: 1.2rem;
    }
    .title-block:after {
        display: none;
    }
    .title-block {
        border-bottom: 1px solid #b68e52;
        padding-bottom: 5px;
    }
    #block-about {
        flex-direction: column-reverse;
    }
    #block-about .row {
        flex-direction: column-reverse;
    }
    #block-about .content-about {
        height: auto;
        text-align: justify;
    }
    #block-about .content-about p:nth-child(2),
    #block-about .content-about p:nth-child(3) {
        display: none;
    }
    #block-about .content-about span {
        font-size: 13px;
        line-height: 15px;
    }
    .service-item .img-fluid {width: 100%;}
    .footer-social li a {
        width: 40px;
    }
    .newsletter {
        width: 100%;
        max-width: 100%;
        padding: 1rem;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }
    #carousel-partner .slick-slide img {
        width: 100%;
        height: 70px;
    }
    .baclground-inner-service h4 {
        font-size: 20px;
    }
    #block-about-senhos {
        text-align: justify;
        height: auto;
    }
    #block-about-senhos p {
        font-weight: normal;
    }
    .item-trademark .circle-trademark {
        top: 7%;
        background: #060934e6;
    }
    .item-trademark p {
        margin-top: 10px;
        text-align: justify;
    }
    .about-content {
        height: auto;
    }
    #slideStrongPoint .carousel-item p {
        font-size: 1rem;
    }
    #block-partner {
        height: auto;
    }

    .title-page {
        font-size: 1.2rem;
    }
    #block-intro p {
        text-align: justify !important;
        text-align-last: center !important;
    }
    .overlay-bg-container {
        background-size: cover !important;
    }
    .overlay-bg-container .container {
        background: #060934d6;
    }
    #block-function .container,
    #block-management .container {
        background: #060934bd;
    }
    #block-marketing .container {
        background: #060934d6;
    }
    #block-banner .text-in-banner {
        max-width: 60%;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 13px;
        padding: 1rem;
    }
    #block-banner .text-in-banner h3 {
        font-size: 13px;
        margin-bottom: 0;
    }
    #block-banner .text-in-banner p,
    #block-banner .text-in-banner .btn {
        display: none;
    }
    .banner-booking {
        background: #060934d6;
    }

    .banner-booking > img {
        display: none;
    }
    #booking-form {
        width: 100%;
        position: relative;
        background: none;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: none;
    }
    .search-hotel i {
        color: white;
    }
    #booking-form .input-group {
        background: white;
        border-radius: 25px;
        margin-bottom: 10px;
        padding: 5px 15px;
    }
    #booking-form input {
    }
    .page-booking h3 {
        font-size: 1.2rem;
    }
    #block-city .item-block-city img {
        max-height: 200px;
        width: 100%;
    }
    #block-location .item-place {
        margin-bottom: 1rem;
    }
    #top-footer .icon-box {
        padding: 1rem;
    }
    #top-footer .icon-box p {
        text-align: center;
    }
    #top-footer-2 h5 {
        margin-top: 1rem;
    }
    #host-menu-ul {
        padding: 1rem;
        margin-top: 10px;
    }
    #block-booking-now .bg-booking-now {
        background: #13224b;
    }
    .button-see-now {
        width: 70%;
    }
    .header-line-host {
        display: inline;
    }
    .header-line-host .badge-host,
    .header-line-host .host-name,
    .header-line-host .host-star {
        position: relative;
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .item-room {
        border-radius: 0;
        border-width: 2px;
        padding: 0;
    }
    .item-room .thumbnail-room {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-height: 220px;
        overflow: hidden;
        margin-bottom: 0.8rem;
    }
    .item-room .thumbnail-room img {
        width: 100%;
        max-height: 250px;
    }
    .item-room .btn-booking-now {
        width: 100%;
    }
    .booking-room-div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 0.8rem;
    }
    .fancybox-wrap,
    .fancybox-inner {
        width: 100% !important;
        height: 100% !important;
        top: 0px !important;
        left: 0px !important;
    }
    .gallery-modal .room-info .details {
        max-width: 100%;
        position: relative;
    }
    .gallery-modal .room-info .gallery {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0;
    }
    .gallery .slick-slide img {
        height: auto;
        max-height: 240px;
    }
    #room-popup .row {
        flex-direction: column-reverse;
    }
    .fancybox-lock .fancybox-overlay {
        overflow-x: hidden !important;
    }
    .room-gallery-slider,
    .room-gallery-slider-nav {
        padding: 0;
    }
    .room-gallery-slider-nav {
        display: none;
    }
    .room-gallery-slider .slick-prev,
    .room-gallery-slider .slick-next {
        display: block !important;
    }
    /* Comfirm Booking Page */
    .page-comfirm-booking .info-room {
        margin-top: 0;
    }
    .page-comfirm-booking .guest-info .info-contact {
        font-size: 13px;
        padding: 0.5rem;
    }
    /* Listing Hotel */
    .item-list-place .thumbnail-place,
    .item-list-place .info-place,
    .item-list-place .price-place {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .page-list-hotel .list-hotel {
        padding: 10px;
    }

    .page-login .login-form {
        border-right: none;
        padding-right: 0px;
    }
    div#OR {
        display: none;
    }
    .lastest-videos .item-video span {
        font-size: 1rem;
    }
    .list-view .thumbnail-post,
    .list-view .info-post {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .list-view .btn-post-more {
        margin: 0.5rem 0;
    }
    .single-post-row.row,
    .list-post-row.row {
        flex-wrap: wrap-reverse;
    }
    .list-post-row aside .widget {
        margin-top: 1rem;
    }
    .list-post-row #list-news {
        margin-top: 0.2rem !important;
    }
    .pagination-around .result-count {
        display: none;
    }
    /* Contact Page */
    .map-contact,
    .pic-contact {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .address-contact,
    .form-contact {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        align-content: flex-end;
    }
    /* jPopup */
    .jPopup {
        width: 80%;
        top: 30%;
    }
    #opVid {
        display: none !important;
    }
    
}

@media (max-height: 800px) {
}
